@import "styles/theme";

.usersettings-main-container {
  background: $background-color;
  border-radius: $box-radius;
  box-shadow: $box-shadow;
  width: 500px;
  margin: 0;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;
  height: 400px; /* adjust the height as needed */
}

.usersettings-subcontainer {
  width: 100%;
  height: 100%;
  flex-direction: column;
  @include center;
  flex-grow: 0;
  flex-shrink: 0;
  &.header-container {
    height: 20%;

    color: $accent-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;

    & h1 {
      font-size: 2.5em;
      margin-top: 0.3em;
      margin-bottom: 1%;
    }
  }
  &.form-container {
    height: 60%;
  }
  &.button-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 15%;
    width: 100%;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
  &.input {
    align-self: center;
    height: 35px;
    padding-left: 15px;
    border: 0;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: $list-color;
    color: black;
    font-weight: 600;
  }
  &.label {
    color: black;
    margin-left: 7.5%;
    align-self: flex-start;
  }
}

.save-button {
  align-self: center;
  border-radius: $box-radius;
  height: 35px;
  box-shadow: $box-shadow;
  font-weight: 500;

  background-color: $button-color;
  border-color: $button-color;
  color: $button-text-color;
  cursor: pointer;

  width: 25%;
  margin-left: 15%;
  &:hover {
    background: $accent-color;
  }
  &:disabled {
    background-color: $button-color * 0.8;
  }
}

.back-to-lobby-button {
  align-self: center;
  border-radius: $box-radius;
  height: 35px;
  box-shadow: $box-shadow;

  background-color: $button-color;
  border-color: $button-color;
  color: $button-text-color;
  cursor: pointer;

  width: 25%;

  margin-right: 15%;
  margin-left: auto;
  &:hover {
    background: $accent-color;
  }
}
