@import "styles/theme";

.popup-endofgame {
  background: $background-color;
  border-radius: $box-radius;
  box-shadow: $box-shadow;

  position: relative;
  width: 100%;
  height: 875px;
  margin-top: 5%;
  height: 700px;
  //height: 100%;
  //left: 83px;
  //top: 69px;
  //-webkit-animation-duration: 30s;animation-duration: 30s;
  //-webkit-animation-fill-mode: both;animation-fill-mode: both;
  //-webkit-animation-name: fadeOut;
  //animation-name: fadeOut;
}

//@-webkit-keyframes fadeOut {
//  0% {opacity: 1;}
// 100% {opacity: 0;}
//}

//@keyframes fadeOut {
// 0% {opacity: 1;}
//100% {opacity: 0;}
//}

.sub-container-end-game {
  position: relative;
  width: 70%;
  //height: 1%;
  margin-left: 15%;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;

  &.header-container {
    position: relative;
    color: $accent-color;
    display: flex;
    //margin-left: 0%;

    flex-direction: column;
    font-size: 32px;
    //margin-top: 5%;
    &.h1 {
      margin-top: 0.3em;
      margin-bottom: 0em;
    }
  }
  &.sub-container-list {
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    //justify-content: flex-start;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    overflow-x: hidden;
    margin-block-end: 3px;
    margin-left: 0%;
    &.header {
      //margin-left: 15%;
      position: relative;
      display: flex;
      height: 30px;
      width: 90%;
      font-size: 19px;
      flex-direction: row;
      font-weight: 600;
      overflow: hidden;
      color: #abadb0;
      &.position {
        //justify-content: center;
        margin-left: 0%;
        width: 20%;

        display: flex;
        //align-items: center;
        justify-content: right;
        //text-align: center;

        //overflow: hidden;

        //padding-left: 2%;
      }

      &.name {
        //justify-content: center;
        margin-left: 5%;
        width: 35%;
        overflow: hidden;
        justify-content: center;
        text-align: center;

        //padding-left: 10px;
      }

      &.points {
        //justify-content: center;
        text-align: center;
        overflow: hidden;
        width: 25%;
        justify-content: center;
        margin-left: 0%;
        //padding-left: 10px;
      }
    }
    &.list {
      animation: fadeIn 2s forwards; /* Use the fadeIn animation with a duration of 1 second */
      position: relative;
      display: flex;

      overflow: hidden;
      flex-direction: row;
      //height: 30px;
      width: 90%;
      height: 10%;
      align-items: center;
      //justify-content: flex-start;
      justify-content: center;
      font-weight: 600;
      font-size: 18px;
      font-style: normal;
      border-radius: $box-radius;
      //margin-top: 0%;

      &.position {
        margin-left: 0%;
        width: 15%;
        overflow: hidden;
        color: black;

        //font-weight: 600;
        //font-size: 20px;
        //font-style: normal;

        display: flex;
        //align-items: center;
        justify-content: center;
        text-align: center;
        background: $list-color;
      }

      &.username {
        margin-left: 1%;
        width: 40%;
        overflow: hidden;
        color: black;
        display: flex;
        //align-items: center;
        justify-content: center;
        text-align: center;
        background: $list-color;
      }

      &.points {
        width: 10%;
        overflow: hidden;
        color: black;
        margin-left: 1%;
        //margin-right: 5%;

        display: flex;
        //align-items: center;
        justify-content: center;
        text-align: center;
        background: $list-color;
      }
    }
  }

  //&.last-row-container{
  //position: relative;

  //width: 100%;
  //height: 200px;
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr; /*Here you set how many columns will be and how much of the space they will take, for example there are 3 values, meaning 3 columns, the first and the last one will take 1 space of the row, and the second one will take 4 spaces*/
  //align-items: center;

  //margin-left: 4%;
  //&.white-space{
  //    margin-left: 0%

  //}
}

.trophy {
  position: absolute;
  width: 250px;
  height: 300px;
  top: 0px;
  right: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../../images/trophy2.png");
  animation: pulse 5s linear infinite;
}

.flag {
  position: absolute;
  width: 350px;
  height: 170px;
  top: 75%;
  right: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../../images/Fahne.png");
  animation: pulse 5s linear infinite;
  //z-index: 1;
}

.button-container-end-game {
  position: absolute;
  //width: 248px;
  //height: 179px;
  width: 20%;
  height: 13%;
  //margin-left: 99%;
  right: 5px;
  bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: black;
  text-align: center;
  justify-content: center;
  //margin-left: 70%;
  grid-template-columns: 1fr;
  //margin-left: 50%;
  //margin-top: 10%;

  &.button-game-again {
    position: absolute;
    width: 100%;
    height: 35%;
    //right: -70px;
    margin-left: 0%;
    background: $accent-color;
    border-radius: $box-radius;
    box-shadow: $box-shadow;
    //margin-top: 25%;
    margin-bottom: 20%;
    cursor: pointer;
    visibility: hidden;
  }
  &.button-game-again:hover {
    background-color: $list-hover-color;
  }

  &.button-exit {
    position: absolute;
    width: 80%;
    height: 37%;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 3%;
    border-radius: $box-radius;
    background-color: $button-color;
    border-color: $button-color;
    color: $button-text-color;
    cursor: pointer;
    font-weight: 700;
    &:hover {
      background: $accent-color;
    }

    box-shadow: $box-shadow;
  }
}
