@import "styles/theme";

.game {
  align-self: center;
  height: 100vh;
  //border: 2px solid $accent-color;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.big-container {
    //border: 2px solid $accent-color;
    flex: 0 0 70%;
  }

  &.small-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    //border: 2px solid $accent-color;

    &.sub-container1 {
      display: flex;
      flex-direction: row;
      flex: 0 0 25%;
      width: 100%;
    }

    &.sub-container2 {
      width: 100%;
      flex: 0 0 20%;
    }

    &.sub-container3 {
      width: 100%;
      flex: 0 0 55%;
    }
  }
}

.logo {
  max-height: 200px;
}

.clock-container {
  display: flex;
  height: 70%;
  border: inherit;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.rounds-container {
  display: flex;
  height: 30%;
  //border: inherit;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.guessing-container {
  height: 80%;
  width: 90%;
  border-radius: $box-radius;
  box-shadow: $box-shadow;
  background-color: $background-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 140%;
  font-weight: 700;

  & h1 {
    font-size: 130%;
    font-weight: 700;
    align-items: center;
    color: $accent-color;
  }

  &.word {
    height: 30%;
    margin-bottom: 20px;
    background-color: $list-color;
    box-shadow: none;
    border-radius: $box-radius;
  }
}

.word-input-container {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 5%;
  margin-bottom: 5%;
  font-size: smaller;
}

.word-input {
  border-radius: $box-radius;
  border: 0;
  background-color: $list-color;
  width: 70%;
  padding-left: 7px;
  text-align: center;
}

.word-input-button {
  width: 30%;
  border-radius: $box-radius;
  background-color: $button-color;
  border-color: $button-color;
  color: $button-text-color;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    background: $accent-color;
  }
  &:disabled {
    background-color: $button-color * 0.8;
  }
}

.host-button-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.start-game-button {
  width: 100%;
  height: 15%;
  border-radius: $box-radius;
  background-color: $button-color;
  border-color: $button-color;
  color: $button-text-color;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    background: $accent-color;
  }
  &:disabled {
    background-color: $button-color * 0.8;
  }
}
