@import "styles/theme";

.paint-toolbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.paint-toolbar label {
  margin-right: 10px;
}

.paint-toolbar input[type="color"] {
  height: 50%;
  width: 50%;
  margin-right: 10px;
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 4.5px;
  width: 50%;
}

.width-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.range-selection {
  width: 80%;
}

.color-picker-button {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid gray;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 4px black;
  }
}

.color-picker-button.selected {
  box-shadow: inset 0 0 0 4px black;
}

.clear-button {
  margin-top: 10%;
  width: 80%;
  border-radius: $box-radius;
  border-color: $button-color;
  color: $button-text-color;
  font-weight: 700;
  background: $accent-color * 1.1;

  cursor: pointer;

  &:hover {
    background: $accent-color;
  }
}

.toolbar-button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.toolbar-buttons {
  background: $accent-color * 1.1;
  height: 45px;
  width: 45px;
  border: 1px solid gray;
  cursor: pointer;

  border-radius: $box-radius;

  &.active {
    background-color: aquamarine;
    border: 2px solid black;
  }

  & img {
    height: 30px;
    width: 30px;
  }
  &:hover {
    background: $accent-color;
  }
}
